body{
    background-color: linen;
}
.search-form{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.search-input{
    border: none;
    border-radius: 15px 0 0 15px;
    padding: 10px;
    width: 200px;
}

.search-button{
    border: none;
    border-radius: 0 15px 15px 0;
    padding: 10px;
    background-color: white;
    cursor: pointer;
    border-left: 1px solid gray;
}
.search-button:hover{
    background-color: rgb(241, 241, 241);
    border-left: 1px solid rgb(241, 241, 241);
}

.images{
    width: 90%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: tomato;
    border-radius: 5px;
}

.gif-img{
    margin-left: 2.5%;
    width: 30%;
}

.no-results{
    text-align: center;
    font-size: 20px;
}